.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
<<<<<<< HEAD
=======
    padding: 25px;
>>>>>>> origin/main
    background-color: #333;
    padding: 15px;
  }
  
  .navbar-logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  .auth-links {
    display: flex;
    gap: 20px; /* Adjusts space between Login and Signup */
}
  